# ETL Script

## 1. Extract

Import libraries

In [1]:
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

Read datasets
1. Indicators of Anxiety or Depression Based on Reported Frequency of Symptoms During Last 7 Days
2. Student Depression Dataset
3. Student Mental Health Crisis After COVID-19
4. Student Performance and Behavior Dataset
5. Students Social Media Addiction Dataset
6. PHQ-9 Student Depression Dataset

In [2]:
df1 = pd.read_json("datasets/cdc-indicators-of-anxiety-or-depression.json")
df2 = pd.read_csv("datasets/kaggle-student-depression-dataset.csv")
df3 = pd.read_excel("datasets/kaggle-student-mental-health-crisis-after-covid19-final.xlsx")
df4 = pd.read_json("datasets/kaggle-student-performance-and-behavior-dataset.json")
df5 = pd.read_csv("datasets/kaggle-students-social-media-addiction.csv")
df6 = pd.read_csv("datasets/mendeley-phq9-student-depression-dataset.csv")

## 2. Transform

### Data Preprocessing and Cleaning

1. Rename columns for clarity and consistency

In [3]:
df1.columns = ["indicator", "grp", "state", "subgroup", "phase", "time_period", "time_period_label", "time_period_start_date", "time_period_end_date", "value", "low_CI", "high_CI", "confidence_interval", "quartile_range"]
df2.columns = ["id", "gender", "age", "city", "profession", "academic_pressure", "work_pressure", "cgpa", "study_satisfaction", "job_satisfaction", "sleep_duration", "dietary_habits", "degree", "has_suicidal_thoughts", "work_study_hours", "financial_stress", "has_family_mental_illness", "has_depression"]
df3.columns = ["gender", "age", "city", "profession", "academic_pressure", "work_pressure", "cgpa", "study_satisfaction", "job_satisfaction", "sleep_duration", "dietary_habits", "degree", "has_suicidal_thoughts", "work_study_hours", "financial_stress", "has_family_mental_illness", "has_depression"]
df4.columns = ["student_id", "first_name", "last_name", "email", "gender", "age", "department", "attendance", "midterm_score", "final_score", "assignments_ave", "quizzes_ave", "participation_score", "projects_score", "total_score", "grade", "study_hours_per_week", "has_extracurricular", "has_internet_access", "parent_education_level", "family_income_level", "stress_level", "sleep_hours"]
df5.columns = ["student_id", "age", "gender", "academic_level", "country", "ave_daily_usage_hours", "most_used_platform", "affects_academic_performance", "sleep_hours", "mental_health_score", "relationship_status", "conflicts_over_social_media", "addicted_score"] 
df6.columns = ['age','gender','interest_loss','depressed_mood','sleep_trouble','fatigue','appetite_change','guilt_failure','concentration','fidgety_restless','suicidal_thoughts','phq9_score','depression_level']

2. Split DF1 into two dataframes based on gender and age groups

In [4]:
df1 = df1[df1["grp"].isin(["By Age", "By Sex"])]
df1_age = df1[df1["grp"] == "By Age"].copy()
df1_sex = df1[df1["grp"] == "By Sex"].copy()
df1_age = df1_age.rename(columns={"subgroup": "age"})
df1_sex = df1_sex.rename(columns={"subgroup": "gender"})

3. Drop unnecessary columns

In [5]:
df1_age = df1_age.drop(columns=["grp", "state", "phase", "time_period", "time_period_label", "time_period_start_date", "time_period_end_date", "quartile_range"])
df1_sex = df1_sex.drop(columns=["grp", "state", "phase", "time_period", "time_period_label", "time_period_start_date", "time_period_end_date", "quartile_range"])
df2 = df2.drop(columns=["id", "city", "profession", "work_pressure", "job_satisfaction"])
df3 = df3.drop(columns=["city", "profession", "work_pressure", "job_satisfaction"])
df4 = df4.drop(columns=["student_id", "first_name", "last_name", "email", "grade"])
df5 = df5.drop(columns=["student_id", "country"])

4. Drop rows with exceeding age groups and missing values

In [6]:
df1_age = df1_age[~df1_age["age"].isin(['60 - 69 years', '70 - 79 years', '80 years and above'])]
df4 = df4.dropna(subset=["attendance", "assignments_ave"])

5. Fill missing values with mean and default values

In [7]:
df2["financial_stress"] = df2["financial_stress"].fillna(df2["financial_stress"].mean())
df4["parent_education_level"] = df4["parent_education_level"].fillna("None")

### Data Type Normalization and Standardization

1. Convert age from float to integers

In [8]:
df2["age"] = df2["age"].fillna(df2["age"].median()).astype(int)

2. Convert confidence interval values to numeric

In [9]:
df1_age['value'] = pd.to_numeric(df1_age['value'], errors='coerce')
df1_age['low_CI'] = pd.to_numeric(df1_age['low_CI'], errors='coerce')
df1_age['high_CI'] = pd.to_numeric(df1_age['high_CI'], errors='coerce')

df1_sex['value'] = pd.to_numeric(df1_sex['value'], errors='coerce')
df1_sex['low_CI'] = pd.to_numeric(df1_sex['low_CI'], errors='coerce')
df1_sex['high_CI'] = pd.to_numeric(df1_sex['high_CI'], errors='coerce')

3. Convert boolean columns from 'Yes'/'No' to 1/0

In [10]:
bool_columns = {
    'df2': ["has_suicidal_thoughts", "has_family_mental_illness"],
    'df3': ["has_suicidal_thoughts", "has_family_mental_illness", "has_depression"],
    'df4': ["has_extracurricular", "has_internet_access"],
    'df5': ["affects_academic_performance"],
}

for df_name, columns in bool_columns.items():
    df = globals()[df_name]
    for col in columns:
        df[col] = df[col].map({'Yes': 1, 'No': 0})

4. Map sleep hours to average values in DF2 and DF3

In [11]:
sleep_map = {
    'Less than 5 hours': 4.5,
    '5-6 hours': 5.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9,
    'Others': None
}
df2['sleep_duration'] = df2['sleep_duration'].map(sleep_map)
df3['sleep_duration'] = df3['sleep_duration'].map(sleep_map)

5. Map survery response and depresssion levels to numerical values

In [12]:
survey_cols = [
    'interest_loss',
    'depressed_mood',
    'sleep_trouble',
    'fatigue',
    'appetite_change',
    'guilt_failure',
    'concentration',
    'fidgety_restless',
    'suicidal_thoughts'
]

depression_mapping = {
    'Minimal': 0,
    'Mild': 1,
    'Moderate': 2,
    'Moderately Severe': 3,
    'Severe': 4
}

mapping = {
    'Not at all': 0,
    'Several days': 1,
    'More than half the days': 2,
    'Nearly every day': 3
}

df6[survey_cols] = df6[survey_cols].apply(lambda col: col.map(mapping))
df6['depression_level'] = df6['depression_level'].map(depression_mapping)

In [13]:
# One-hot encode academic_level in DF5
df5['academic_level'] = df5['academic_level'].astype(str).str.strip()
df5 = pd.concat([df5, pd.get_dummies(df5['academic_level'], prefix='academic_level')], axis=1)
df5.drop(columns=['academic_level'], inplace=True)

In [14]:
# One-hot encode dietary_habits in DF2 and DF3
df2 = pd.concat([df2, pd.get_dummies(df2['dietary_habits'], prefix='diet')], axis=1)
df3 = pd.concat([df3, pd.get_dummies(df3['dietary_habits'], prefix='diet')], axis=1)
df2.drop(columns=['dietary_habits'], inplace=True)
df3.drop(columns=['dietary_habits'], inplace=True)

In [15]:
# One-hot encode most_used_platform and relationship_status in DF5
df5['relationship_status'] = df5['relationship_status'].str.strip().str.lower().str.replace(' ', '_')
df5 = pd.concat([df5, pd.get_dummies(df5['most_used_platform'], prefix='most_used')], axis=1)
df5 = pd.concat([df5, pd.get_dummies(df5['relationship_status'], prefix='rel_status')], axis=1)
df5.drop(columns=['most_used_platform', 'relationship_status'], inplace=True)

In [16]:
print(df3.columns.tolist())

['gender', 'age', 'academic_pressure', 'cgpa', 'study_satisfaction', 'sleep_duration', 'degree', 'has_suicidal_thoughts', 'work_study_hours', 'financial_stress', 'has_family_mental_illness', 'has_depression', 'diet_Healthy', 'diet_Moderate', 'diet_Unhealthy']

### Aggregate to Fact Table

In [17]:
# ---------- 0. SETTINGS ----------
# age bins used throughout (you chose 18-60 range)
bins = [18, 25, 30, 35, 40, 45, 50, 55, 60]
labels = ['18-24','25-29','30-34','35-39','40-44','45-49','50-54','55-59']

# helper to normalize column names
def normalize_cols(df):
    df = df.copy()
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_', regex=False)
        .str.replace(r'[^0-9a-zA-Z_]', '', regex=True)  # remove weird chars
        .str.replace('__', '_', regex=False)
    )
    return df

# ---------- 1. Normalize column names for all dataframes ----------
df1_age = normalize_cols(df1_age)
df1_sex = normalize_cols(df1_sex)
df2 = normalize_cols(df2)
df3 = normalize_cols(df3)
df4 = normalize_cols(df4)
df5 = normalize_cols(df5)
df6 = normalize_cols(df6)

# ---------- 2. Create age_group for individual-level datasets (df2..df6) ----------
for df in (df2, df3, df4, df5, df6):
    # Ensure age is numeric
    df['age'] = pd.to_numeric(df['age'], errors='coerce')
    # Keep only 18-59 (as you requested); rows outside become NaN for age_group
    df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

# ---------- 3. Clean and convert CDC (df1_age, df1_sex) numeric columns ----------
for df in (df1_age, df1_sex):
    for col in ['value','low_ci','high_ci']:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')

# OPTIONAL: drop CDC rows outside 18-59 for df1_age (based on textual ranges)
# We will split ranges like '18 - 29 years' into two subgroups (18-24,25-29)
split_mapping = {
    '18 - 29 years': ['18-24','25-29'],
    '30 - 39 years': ['30-34','35-39'],
    '40 - 49 years': ['40-44','45-49'],
    '50 - 59 years': ['50-54','55-59']
}

# Make a copy and safely explode df1_age into finer groups
def expand_cdc_age(df_age):
    df = df_age.copy()
    # Ensure the "age" column contains the textual subgroup (if named differently adjust)
    # We'll create a new column 'age_group' as list using mapping, then explode
    df['target_age_groups'] = df['age'].map(lambda s: split_mapping.get(str(s).strip(), None))
    # Keep only rows that map to our allowed ranges
    df = df[df['target_age_groups'].notna()].copy()
    # explode
    df = df.explode('target_age_groups').rename(columns={'target_age_groups':'age_group'})
    # evenly distribute value and CIs across parts (i.e., divide by number of parts per original)
    # To do this, compute counts per original index:
    counts = df.groupby(df.index).size()
    counts = counts.rename('n_parts')
    df = df.join(counts, how='left')
    for col in ['value','low_ci','high_ci']:
        if col in df.columns:
            df[col] = df[col] / df['n_parts']
    df.drop(columns=['n_parts'], inplace=True)
    return df

# Apply expansion (if df1_age uses textual ranges as you showed)
try:
    cdc_age_expanded = expand_cdc_age(df1_age)
except Exception:
    # if mapping fails for any reason, fall back to filtering and mapping directly if exact matches exist
    cdc_age_expanded = df1_age.copy()
    cdc_age_expanded['age_group'] = cdc_age_expanded['age'].map({
        '18 - 29 years':'18-24', '30 - 39 years':'30-39', '40 - 49 years':'40-49', '50 - 59 years':'50-59'
    })

# For df1_sex ensure gender names are normalized
df1_sex['gender'] = (df1_sex['gender'].astype(str)
                     .str.strip().str.lower().replace({'male':'male','female':'female'}))
# canonicalize to capitalized or lower consistently; we'll use title case in final dims
df1_sex['gender'] = df1_sex['gender'].str.title()

# ---------- 4. Prepare one-hot column lists (after normalization these are predictable) ----------
onehot_prefixes = ('diet_', 'most_used_', 'rel_status_', 'academic_level_')
one_hot_cols = [col for col in pd.concat([df2, df3, df5], ignore_index=True).columns
                if col.startswith(onehot_prefixes)]

# Remove duplicates and ensure existence in combined fact_student later
one_hot_cols = sorted(set(one_hot_cols))

# ---------- 5. Build combined student table but avoid creating monstrous intermediate objects ----------
# We'll not concat all rows wide first; instead we'll merge carefully and then select columns we will aggregate.

# Normalize merge keys
for df in (df2, df3, df4, df5, df6):
    df['gender'] = df['gender'].astype(str).str.strip().str.title()

# Start with df2 as base (individual-level)
base = df2.copy()

# When merging df3, drop columns that are duplicates in base to avoid wide duplication
cols_to_drop_from_df3 = [c for c in ['degree','sleep_duration','diet_healthy','diet_moderate','diet_unhealthy'] if c in df3.columns]
df3_for_merge = df3.drop(columns=cols_to_drop_from_df3)

# Merge step-by-step; keep only needed columns to reduce memory
base = base.merge(df3_for_merge, on=['age','gender'], how='left', suffixes=('','_df3'))

# Merge df4: keep numeric/performance columns + department/parent_education_level/family_income_level
df4_keep = [c for c in ['attendance','midterm_score','final_score','assignments_ave','quizzes_ave',
                        'participation_score','projects_score','total_score','study_hours_per_week',
                        'has_extracurricular','has_internet_access','parent_education_level',
                        'family_income_level','department','stress_level','sleep_hours'] if c in df4.columns]
base = base.merge(df4[df4_keep + ['age','gender']].drop_duplicates(subset=['age','gender']), on=['age','gender'], how='left')

# Merge df5: keep numeric + one-hot platform + rel_status + academic_level
df5_keep = [c for c in df5.columns if c in ['ave_daily_usage_hours','affects_academic_performance',
                                            'sleep_hours','mental_health_score','conflicts_over_social_media','addicted_score',
                                            'age','gender']]
# also include any one-hot platform, relationship, and academic_level columns
df5_onehots = [c for c in df5.columns if c.startswith('most_used_') or c.startswith('rel_status_') or c.startswith('academic_level_')]
df5_keep = list(dict.fromkeys(df5_keep + df5_onehots))  # preserve order
base = base.merge(
    df5[df5_keep].drop_duplicates(subset=['age','gender']),
    on=['age','gender'],
    how='left'
)

# Merge df6: survey and phq9 score
df6_keep = [c for c in ['interest_loss','depressed_mood','sleep_trouble','fatigue','appetite_change',
                        'guilt_failure','concentration','fidgety_restless','suicidal_thoughts','phq9_score','depression_level','age','gender'] if c in df6.columns]
base = base.merge(df6[df6_keep].drop_duplicates(subset=['age','gender']), on=['age','gender'], how='left')

# Now 'base' is a reasonably-wide per-student table but not exploded by duplicated columns.

# ---------- 6. Identify numeric and one-hot columns for aggregation ----------
# Numeric columns: numbers and bools (coerce non-numeric to NaN)
numeric_candidates = base.select_dtypes(include=['number','bool']).columns.tolist()

# Some numeric-like columns may still be object due to NaNs; coerce those we expect to be numeric
to_float_try = ['cgpa','academic_pressure','study_satisfaction','work_study_hours','financial_stress',
                'attendance','midterm_score','final_score','assignments_ave','quizzes_ave','participation_score',
                'projects_score','total_score','study_hours_per_week','stress_level','sleep_hours',
                'ave_daily_usage_hours','mental_health_score','conflicts_over_social_media','addicted_score',
                'phq9_score']
for c in to_float_try:
    if c in base.columns:
        base[c] = pd.to_numeric(base[c], errors='coerce')

# Now recompute numeric columns
numeric_cols = [c for c in base.select_dtypes(include=['number','bool','float','int']).columns if c not in ['age']]

# Exclude one-hot cols from numeric_cols (we will aggregate them separately)
one_hot_cols = [c for c in base.columns if (
    c.startswith('diet_') or c.startswith('most_used_') or c.startswith('rel_status_') or c.startswith('academic_level_')
)]
numeric_non_onehot = [c for c in numeric_cols if c not in one_hot_cols]

# Convert numeric_non_onehot to float32 to save memory
for c in numeric_non_onehot:
    try:
        base[c] = base[c].astype('float32')
    except Exception:
        base[c] = pd.to_numeric(base[c], errors='coerce').astype('float32')

# Convert one-hot columns to float32 as well (they are 0/1)
for c in one_hot_cols:
    base[c] = pd.to_numeric(base[c], errors='coerce').fillna(0).astype('float32')

# ---------- 7. Aggregate (memory-safe) ----------
group_cols = ['age_group','gender']

# (A) Numeric non-onehot aggregation
numeric_summary = base.groupby(group_cols, as_index=False)[numeric_non_onehot].mean()

# (B) One-hot aggregation
if one_hot_cols:
    onehot_summary = base.groupby(group_cols, as_index=False)[one_hot_cols].mean()
    # Merge numeric + onehot summaries
    fact_student_summary = pd.merge(numeric_summary, onehot_summary, on=group_cols, how='outer')
else:
    fact_student_summary = numeric_summary

# ---------- 8. Postprocess fact_student_summary ----------
# Optionally rename aggregates to make it clear they are group-level means
# e.g., add prefix 'avg_' to numeric_non_onehot columns
rename_map = {c: ('avg_' + c) for c in numeric_non_onehot}
fact_student_summary.rename(columns=rename_map, inplace=True)

# one-hot columns already represent fractions/proportions (0..1)
# reset index order
fact_student_summary = fact_student_summary.sort_values(['age_group','gender']).reset_index(drop=True)

print("Fact student summary shape:", fact_student_summary.shape)
print(fact_student_summary.head())

# ---------- 9. Build CDC fact tables (age and sex) ----------
# df1_age expanded -> cdc_age_expanded already built above
# aggregate by indicator, age_group
fact_cdc_age = (cdc_age_expanded
                .groupby(['indicator','age_group'], as_index=False)
                .agg({'value':'mean','low_ci':'mean','high_ci':'mean'}))

# df1_sex: normalize gender, aggregate by indicator, gender
df1_sex['gender'] = df1_sex['gender'].str.title()
fact_cdc_sex = (df1_sex
                .groupby(['indicator','gender'], as_index=False)
                .agg({'value':'mean','low_ci':'mean','high_ci':'mean'}))

print("Fact CDC age shape:", fact_cdc_age.shape)
print("Fact CDC sex shape:", fact_cdc_sex.shape)

# ---------- 10. Build simple dimension tables ----------
dim_age_group = pd.DataFrame({'age_group': labels, 'age_group_order': range(len(labels))})
dim_gender = pd.DataFrame({'gender': sorted(fact_student_summary['gender'].dropna().unique())})

# degree dimension (from df2+df3)
degree_vals = pd.Series(pd.concat([df2['degree'], df3['degree']]).dropna().unique())
dim_degree = pd.DataFrame({'degree': degree_vals}).reset_index().rename(columns={'index':'degree_id'})

# department and family_income from df4 if available
dim_department = pd.DataFrame({'department': df4['department'].dropna().unique()}).reset_index().rename(columns={'index':'department_id'})
dim_family_income = pd.DataFrame({'family_income_level': df4['family_income_level'].dropna().unique()}).reset_index().rename(columns={'index':'income_id'})

# social platform and relationship dims
platform_cols = [c for c in base.columns if c.startswith('most_used_')]
platform_names = [c.replace('most_used_','') for c in platform_cols]
dim_platform = pd.DataFrame({'platform_col': platform_cols, 'platform': platform_names})

relationship_cols = [c for c in base.columns if c.startswith('rel_status_')]
relationship_names = [c.replace('rel_status_','') for c in relationship_cols]
dim_relationship = pd.DataFrame({'rel_col': relationship_cols, 'relationship': relationship_names})

print("Dimension tables sizes: age_group:", len(dim_age_group), "gender:", len(dim_gender),
    "degree:", len(dim_degree), "department:", len(dim_department),
    "platforms:", len(dim_platform), "relationships:", len(dim_relationship))

academic_cols = [c for c in base.columns if c.startswith('academic_level_')]
academic_names = [c.replace('academic_level_','') for c in academic_cols]
dim_academic_level = pd.DataFrame({'academic_col': academic_cols, 'academic_level': academic_names})

print("Dimension tables sizes: age_group:", len(dim_age_group), "gender:", len(dim_gender),
    "degree:", len(dim_degree), "department:", len(dim_department),
    "platforms:", len(dim_platform), "relationships:", len(dim_relationship),
    "academic_levels:", len(dim_academic_level))

# ---------- 11. Final: show outputs ----------
# fact_student_summary (one row per age_group x gender) is your main fact table for visualizations
# fact_cdc_age, fact_cdc_sex are CDC facts for reference
# dims: dim_age_group, dim_gender, dim_degree, dim_department, dim_family_income, dim_platform, dim_relationship

fact_student_summary.to_csv("fact_student_summary.csv", index=False)
fact_cdc_age.to_csv("fact_cdc_age.csv", index=False)
fact_cdc_sex.to_csv("fact_cdc_sex.csv", index=False)

Fact student summary shape: (16, 71)
  age_group  gender  avg_academic_pressure  avg_cgpa  avg_study_satisfaction  \
0     18-24  Female               3.232624  7.599771                2.951567
1     18-24    Male               3.172835  7.693416                2.874469
2     25-29  Female               3.248344  7.608493                2.972105
3     25-29    Male               3.189327  7.732525                2.919923
4     30-34  Female               3.016140  7.589987                2.982016

   avg_sleep_duration  avg_has_suicidal_thoughts  avg_work_study_hours  \
0            6.501964                   0.686032              7.168854
1            6.509951                   0.677160              7.341582
2            6.456784                   0.632539              7.128029
3            6.457953                   0.651475              7.164055
4            6.483006                   0.553677              6.917934

   avg_financial_stress  avg_has_family_mental_illness  ...  \
0              3.313071                       0.500691  ...
1              3.272125                       0.477489  ...
2              3.095794                       0.477811  ...
3              3.131898                       0.482400  ...
4              2.951264                       0.497713  ...

   most_used_snapchat  most_used_tiktok  most_used_twitter  \
0            0.000000          0.250737           0.000000
1            0.120243          0.210369           0.066611
2            0.000000          0.000000           0.000000
3            0.000000          0.000000           0.000000
4            0.000000          0.000000           0.000000

   most_used_vkontakte  most_used_wechat  most_used_whatsapp  \
0                  0.0          0.250969                 0.0
1                  0.0          0.000000                 0.0
2                  0.0          0.000000                 0.0
3                  0.0          0.000000                 0.0
4                  0.0          0.000000                 0.0

   most_used_youtube  rel_status_complicated  rel_status_in_relationship  \
0           0.000000                0.250737                    0.649462
1           0.109847                0.330612                    0.150480
2           0.000000                0.000000                    0.000000
3           0.000000                0.000000                    0.000000
4           0.000000                0.000000                    0.000000

   rel_status_single
0           0.099801
1           0.518908
2           0.000000
3           0.000000
4           0.000000

[5 rows x 71 columns]
Fact CDC age shape: (24, 5)
Fact CDC sex shape: (6, 5)
Dimension tables sizes: age_group: 8 gender: 2 degree: 28 department: 4 platforms: 12 relationships: 3
Dimension tables sizes: age_group: 8 gender: 2 degree: 28 department: 4 platforms: 12 relationships: 3 academic_levels: 3

C:\Users\fonte\AppData\Local\Temp\ipykernel_11572\3591008763.py:177: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  numeric_summary = base.groupby(group_cols, as_index=False)[numeric_non_onehot].mean()
C:\Users\fonte\AppData\Local\Temp\ipykernel_11572\3591008763.py:181: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  onehot_summary = base.groupby(group_cols, as_index=False)[one_hot_cols].mean()

## 3. Load

In [18]:
user = 'admin'
password = 'root'
host = 'localhost'          
port = '3306'               
database = 'olap_dashboard'  

engine = create_engine("mysql+mysqlconnector://root:admin@localhost:3306/olap_dashboard")

In [19]:
load_dotenv()

# 1) Read connection settings
MYSQL_HOST = os.getenv("MYSQL_HOST", "localhost")
MYSQL_PORT = int(os.getenv("MYSQL_PORT", "3306"))
MYSQL_DB   = os.getenv("MYSQL_DB", "olap_dashboard")
MYSQL_USER = os.getenv("MYSQL_USER", "root")
MYSQL_PWD  = os.getenv("MYSQL_PASSWORD", "admin")

if not MYSQL_PWD:
    raise RuntimeError("Missing MYSQL_PASSWORD. Put it in .env or export it in your terminal.")

# 2) Ensure database exists (connect to server without DB first)
server_url = f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PWD}@{MYSQL_HOST}:{MYSQL_PORT}"
server_engine = create_engine(server_url, pool_pre_ping=True)

with server_engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE IF NOT EXISTS `{MYSQL_DB}` CHARACTER SET utf8mb4"))
    conn.commit()

# 3) Connect to the specific DB
db_url = f"{server_url}/{MYSQL_DB}?charset=utf8mb4"
engine = create_engine(db_url, pool_pre_ping=True)

# Helper: use in-memory DF if available, else load the CSV from disk
def ensure_df(var_name: str, csv_path: str) -> pd.DataFrame:
    if var_name in globals() and isinstance(globals()[var_name], pd.DataFrame):
        return globals()[var_name]
    return pd.read_csv(csv_path)

# 4) Get data to load
fact_student_summary_df = ensure_df("fact_student_summary", "fact_student_summary.csv")
fact_cdc_age_df         = ensure_df("fact_cdc_age", "fact_cdc_age.csv")
fact_cdc_sex_df         = ensure_df("fact_cdc_sex", "fact_cdc_sex.csv")

# 5) Write to MySQL (overwrite for repeatable runs; change to 'append' if preferred)
print("Uploading tables to MySQL...")
fact_student_summary_df.to_sql(
    "fact_student_summary", engine, if_exists="replace", index=False, chunksize=1000, method="multi"
)
fact_cdc_age_df.to_sql(
    "fact_cdc_age", engine, if_exists="replace", index=False, chunksize=1000, method="multi"
)
fact_cdc_sex_df.to_sql(
    "fact_cdc_sex", engine, if_exists="replace", index=False, chunksize=1000, method="multi"
)

# 6) Quick verification
with engine.connect() as conn:
    for tbl in ("fact_student_summary", "fact_cdc_age", "fact_cdc_sex"):
        n = conn.execute(text(f"SELECT COUNT(*) FROM `{tbl}`")).scalar()
        print(f"{tbl}: {n} rows")

print("Load complete.")

Uploading tables to MySQL...
fact_student_summary: 16 rows
fact_cdc_age: 24 rows
fact_cdc_sex: 6 rows
Load complete.

In [20]:
# 3. Load â€” dimensions

# Reuse the same 'engine' from the previous Load cell
try:
    engine
except NameError:
    raise RuntimeError("MySQL engine is not defined. Run the previous Load cell first.")

# Ensure the dim DataFrames exist (they're created in the Transform section)
required_dims = [
    "dim_age_group","dim_gender","dim_degree",
    "dim_department","dim_family_income","dim_platform","dim_relationship",
    "dim_academic_level",
]
missing = [d for d in required_dims if d not in globals()]
if missing:
    raise RuntimeError(f"Missing dimension dataframes: {missing}. Run the Transform section first: {missing}")

# De-duplicate for clean loads
dim_age_group     = dim_age_group.drop_duplicates(subset=["age_group"]).sort_values("age_group")
dim_gender        = dim_gender.drop_duplicates(subset=["gender"]).sort_values("gender")
dim_degree        = dim_degree.drop_duplicates(subset=["degree"]).sort_values("degree")
dim_department    = dim_department.drop_duplicates(subset=["department"]).sort_values("department")
dim_family_income = dim_family_income.drop_duplicates(subset=["family_income_level"]).sort_values("family_income_level")
dim_platform      = dim_platform.drop_duplicates(subset=["platform_col","platform"]).sort_values("platform")
dim_relationship  = dim_relationship.drop_duplicates(subset=["rel_col","relationship"]).sort_values("relationship")
dim_academic_level = dim_academic_level.drop_duplicates(subset=["academic_col","academic_level"]).sort_values("academic_level")

print("Uploading dimension tables to MySQL...")

dim_age_group.to_sql("dim_age_group", engine, if_exists="replace", index=False, method="multi")
dim_gender.to_sql("dim_gender", engine, if_exists="replace", index=False, method="multi")
dim_degree.to_sql("dim_degree", engine, if_exists="replace", index=False, method="multi")
dim_department.to_sql("dim_department", engine, if_exists="replace", index=False, method="multi")
dim_family_income.to_sql("dim_family_income", engine, if_exists="replace", index=False, method="multi")
dim_platform.to_sql("dim_platform", engine, if_exists="replace", index=False, method="multi")
dim_relationship.to_sql("dim_relationship", engine, if_exists="replace", index=False, method="multi")
dim_academic_level.to_sql("dim_academic_level", engine, if_exists="replace", index=False, method="multi")

# Verify
with engine.connect() as conn:
    for tbl in ("dim_age_group","dim_gender","dim_degree","dim_department","dim_family_income","dim_platform","dim_relationship","dim_academic_level"):
        n = conn.execute(text(f"SELECT COUNT(*) FROM `{tbl}`")).scalar()
        print(f"{tbl}: {n} rows")

print("Dimension load complete.")

Uploading dimension tables to MySQL...
dim_age_group: 8 rows
dim_gender: 2 rows
dim_degree: 28 rows
dim_department: 4 rows
dim_family_income: 3 rows
dim_platform: 12 rows
dim_relationship: 3 rows
dim_academic_level: 3 rows
Dimension load complete.

In [21]:
dims = {
    "dim_age_group": dim_age_group,
    "dim_gender": dim_gender,
    "dim_degree": dim_degree,
    "dim_department": dim_department,
    "dim_family_income": dim_family_income,
    "dim_platform": dim_platform,
    "dim_relationship": dim_relationship,
    "dim_academic_level": dim_academic_level,
}

for name, df in dims.items():
    df.to_csv(f"{name}.csv", index=False)